## library django side ##
Django~=3.2.3
Pillow
django-crispy-forms         #crispy
django-ckeditor             #ckeditor
python-decouple             #secret & decouple
psycopg2                    #postgresql
#django-comments-dad        #comment
django-star-ratings         #star



## library Server side ##
#psycopg2-binary
#gunicorn