
{% extends "first_app/first_page.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block center_right %}

    {% if user.is_authenticated %}
     <div id="content">
        <div class="box-index" style="line-height: 28px;">

            <h6 style="text-align: center ; color: red">« {{ user.get_full_name }} »</h6>
            <p style="text-align: center ; color: red">شما در حال حاضر از کاربران آنلاین سایت من میباشید.</p>

        </div>
     </div>
    {% else %}


     <div id="content">
        <div class="box-index" style="line-height: 28px;">
<form method="post">
    {% csrf_token %}
{#<p style="height: 60px">   </p>#}

        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke" style="color: black;"><span class="mdi mdi-account-circle"></span></h1>
                </div>
                    <h3 class="text-whitesmoke"> ورود به سایت من</h3>
                    <p class="text-whitesmoke">ورود به حساب کاربری</p>
                <div class="container-content">
                    <form class="margin-t">
                        <div class="form-group" style="padding-left: 25px">
                            <label>شناسه کاربری</label>
                            <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" style="width: 400px" placeholder="شناسه کاربری خود را وارد کنید">
                        </div>
                        <div class="form-group" style="padding-left: 0px">
                            <label>رمز عبور</label>
                            <input type="password" name="password" autocomplete="new-password" required="" id="id_password" aria-autocomplete="list" style="width: 400px" placeholder="رمز عبور خود را وارد کنید">
                        </div>
                        <p>   </p>
                        <button type="submit" class="form-button button-l margin-b">وارد میشوم</button>

                            {% if form.errors %}
                                <p style="color: red;text-align: center">
                                    شناسه کاربری یا رمز عبور اشتباه است ، لطفا دوباره تلاش کنید.
                                </p>
                            {% endif %}

                        <a class="text-darkyellow" style="text-decoration: none" href="{% url 'password_reset' %}"><small>فراموشی رمز عبور ؟</small></a>
                        <p class="text-whitesmoke text-center"><small>آیا حساب کاربری دارید ؟</small></p>
                        <a class="text-darkyellow" style="text-decoration: none" href="{% url 'register' %}"><small>ثبت نام</small></a>
                    </form>
                    <p class="margin-t text-whitesmoke"><small> سایت من &copy; 1400</small> </p>
                </div>
            </div>

</form>

    </div>
</div>

    {% endif %}

{% endblock center_right %}


