<!DOCTYPE html>
<html dir="rtl" lang="fa">
<head>
  <title>بازیابی رمز عبور</title>
</head>
<body>
    <div class="container" style="background-color: #bfd1ec ; width: 100%">
        <div style="background-color: #cbccce ; text-align: center">
        <form method="post" style="font-family: IRANSans">    {% csrf_token %}
            {% if validlink %}
            <p style="margin-top: 10%">   </p>
            <h3 style="font-family: IRANSans">بازیابی رمز عبور</h3>
            <p style="font-family: IRANSans ; text-align: right; margin-right: 5%">ایجاد رمز عبور جدید</p>
            <p>   </p>
            <hr>
            <p>   </p>
                    <form class="margin-t" style="font-family: IRANSans">
                        <div class="form-group">
                            <label style="margin-right: 9%">گذرواژه</label>
                            <input type="password" name="new_password1" maxlength="150" autofocus="" required="" id="id_password" style="width: 50% ; font-family: IRANSans" placeholder="گذرواژه جدید خود را وارد کنید">
                        </div>
                        <p>   </p>
                        <div class="form-group">
                            <label style="margin-right: 6%">تایید گذرواژه</label>
                            <input type="password" name="new_password2" maxlength="150" autofocus="" required="" id="id_password" style="width: 50% ; font-family: IRANSans" placeholder="گذرواژه جدید خود را تکرار کنید">
                        </div>
                        <p>   </p>
                        <hr>
                        <button type="submit" class="form-button button-l margin-b" style="font-family: IRANSans ; background-color: green">ارسال</button>
                        <p>   </p>
                    </form>
            {% else %}
                <p>لینک منتضی شده است برای بازیابی رمز عبور دوباره <a href="{% url 'password_reset' %}"> کلیک</a>  کنید. </p>
            {% endif %}
        </form>
        </div>
    </div>
</body>
</html>