
{% extends "first_app/first_page.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block center_right %}

    {% if user.is_authenticated %}
     <div id="content">
        <div class="box-index" style="line-height: 28px;">

            <h6 style="text-align: center ; color: red">« {{ user.get_full_name }} »</h6>
            <p style="text-align: center ; color: red">شما در حال حاضر از کاربران آنلاین سایت من میباشید.</p>

        </div>
     </div>
    {% else %}


     <div id="content">
        <div class="box-index" style="line-height: 28px;">
<form method="post">
    {% csrf_token %}
{#<p style="height: 60px">   </p>#}

        <div class="login-container text-c animated flipInX">
                <div>
                    <h1 class="logo-badge text-whitesmoke" style="color: black;"><span class="mdi mdi-account-circle"></span></h1>
                </div>
                    <h3 class="text-whitesmoke">گذرواژه جدید با موفقیت ایجاد شد</h3>
                    <p class="text-whitesmoke">گذرواژهٔ جدیدتان تنظیم شد. اکنون می‌توانید وارد وب‌گاه شوید.</p>
                <div class="container-content">
<p>   </p>
                        <button type="submit" class="form-button button-l margin-b">ورود</button>
                        </div>

                    <p class="margin-t text-whitesmoke"><small> سایت من &copy; 1400</small> </p>
                </div>

    </div>
</div>

    {% endif %}

{% endblock center_right %}