
{% extends "first_app/first_page.html" %}

{% load static %}



{% block center_right %}

    {% if footer %}
    {% for footer in footer %}
       <div id="content" style="max-width: 100% ; margin-right: 7px">
        <div class="box-index" style="line-height: 28px;">

        <div class="su-box su-box-style-default" style="border-color:#007a29;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;">
            <div class="su-box-title" style="background-color:#009933;color:#FFFFFF;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px;font-size: 20px">{{ footer.name_site }} چیست؟ </div>
            <div class="su-box-content su-clearfix"><p>  </p> <p>{{ footer.description|safe }}</p> <p style="text-align: right; padding-right: 30px;"></p></div>
        </div>
            <hr>
        <div style="background-color: white ; width: 100% ; height: 300px;">
            <p>   </p>
            <p style="font-size: 16px ; text-align: center ; background-color: #cbccce">راه های ارتباطی با من :</p>
            <b>ایمیل : </b><p>{{ footer.email_admin }}</p>
            <b>آدرس : </b><p>{{ footer.adress_admin }}</p>
            <b>شماره تماس : </b><p>{{ footer.phone_admin }}</p>


        </div>

        </div>
       </div>
    {% endfor %}
    {% endif %}
{% endblock center_right %}
