
{% extends "first_app/2_category.html" %}
{% load static %}


{% block center %}
    {% if footer %}
    {% for footer in footer %}
        <div class="su-box su-box-style-default" style="border-color:#007a29;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;"><div class="su-box-title" style="background-color:#009933;color:#FFFFFF;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px;font-size: 20px">{{ footer.title }} چیست؟ </div>
            <div class="su-box-content su-clearfix"><p>  </p> <p>{{ footer.description|safe }}</p> <p style="text-align: right; padding-right: 30px;"></p></div>
        </div>
    {% endfor %}
    {% endif %}
{% endblock center %}
