
{% extends "first_app/3_center_left.html" %}
{% load static %}


{% block center_right %}
<div id="content">
<div class="box-index" style="line-height: 28px;">

{% if object_list %}
{% for x in object_list %}
    <div class="post-wrap clearfix">
        <div class="post post-box clearfix post-70809 type-post status-publish format-standard has-post-thumbnail hentry category-1289 category-511 category-136 tag-general-general tag-2091 tag-2260" id="post-70809"> <h3 class="entry-title">

        <a href="/mysite/description/{{ x.id }}/" title="" rel="bookmark"><b>{{ x.title }}</b></a></h3> <div class="postmeta-primary"> <span class="vcard author post-author"><span class="fn">گروه متمم</span></span> <span class="post-date updated">می 22, 2021</span></div><div class="entryy clearfix"> <div class="image-container"><a href="/mysite/description/{{ x.id }}/"><img src="{{ x.image.url }}" width="300" height="200" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"></a></div><div class="featured-content-container">{{ x.introduction }}<div class="readmore"> <a href="/mysite/description/{{ x.id }}/" title="" rel="bookmark">ادامه مطلب</a></div></div><p style="margin-top:10px;"></p></div>
        <div style="float:left"> <span style="color:green; float:right; font-size:18px !important; line-height:30px; padding-left:2px !important; font-weight:bold;"> ✔ </span><span style="color:#111; float:right; font-size:13px !important; line-height:30px; padding-left:8px !important; font-weight:300;"><p>{{ x.parent }}</p></span></div>
        </div>
    </div>
{% endfor %}
    {% else %}
    <p class="text-danger" style="text-align: center">هنوز هیچ آموزشی برای گزینه انتخابی شما ثبت نشده است.</p>
{% endif %}

{% if slider %}

    <div class="su-divider su-divider-style-double" style="margin:15px 0;border-width:6px;border-color:#009933"></div>
    <div style="max-width: 712px;" class="ml-slider-3-12-1 metaslider metaslider-flex metaslider-11184 ml-slider nav-hidden"> <div id="metaslider_container_11184"> <div id="metaslider_11184" class="flexslider">
        <ul class="slides">
{% for slider in slider %}
            <li style="display: block; width: 100%; float: right; margin-left: -100%; position: relative; opacity: 1; z-index: 2;" class="slide-138723 ms-image flex-active-slide"><a href="#" target="_self"><img src="{{ slider.image.url }}" height="400" width="712" alt="" class="slider-11184 slide-138723" title="{{ slider.title }}" draggable="false"></a></li>
 {% endfor %}
        </ul>
        <ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="#">false</a></li><li class="flex-nav-next"><a class="flex-next" href="#">false</a></li></ul></div></div></div>
    <div class="su-divider su-divider-style-double" style="margin:15px 0;border-width:6px;border-color:#009933"></div>

</div>
</div>

{% endif %}

{% endblock center_right %}