
{% extends "first_app/1_index.html" %}
{% load static %}

{% block category %}

    <div style="text-align:right" class="clearfix">
        <a class="ubermenu-responsive-toggle ubermenu-responsive-toggle-main ubermenu-skin-black-white-2 ubermenu-loc- ubermenu-responsive-toggle-content-align-left ubermenu-responsive-toggle-align-full" tabindex="0" data-ubermenu-target="ubermenu-main-1408"><i class="mdi mdi-menu"></i> Menu </a>
        <nav id="ubermenu-main-1408" class="ubermenu ubermenu-main ubermenu-menu-1408 ubermenu-responsive ubermenu-responsive-default ubermenu-responsive-collapse ubermenu-horizontal ubermenu-transition-shift ubermenu-trigger-hover_intent ubermenu-skin-black-white-2 ubermenu-has-border ubermenu-bar-align-full ubermenu-items-align-right ubermenu-bound ubermenu-disable-submenu-scroll ubermenu-sub-indicators ubermenu-retractors-responsive ubermenu-submenu-indicator-closes ubermenu-notouch ubermenu-desktop-view ubermenu-interaction-hover">


            <ul id="ubermenu-nav-main-1408" class="ubermenu-nav" data-title="منو">



            <li id="menu-item-55492" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-55492 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="#" tabindex="0">
                    <span class="ubermenu-target-title ubermenu-target-text"><i class="mdi mdi-cog-outline" style="color: #FFFFFF;"></i></span><i class="mdi mdi-chevron-down"></i>
                    <span class="ubermenu-sub-indicator-close"><i class="fas fa-times"></i></span>
                </a>

{% if my %}
    {% for x in my %}

                <ul class="ubermenu-submenu ubermenu-submenu-id-55492 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                    <li id="menu-item-55497" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-55497 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-stack">
                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="#">
                            <span class="ubermenu-target-title ubermenu-target-text">{{ x.name_site }}</span>
                        </a>

                        <ul class="ubermenu-submenu ubermenu-submenu-id-55497 ubermenu-submenu-type-auto ubermenu-submenu-type-stack">
                            <li id="menu-item-55493" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-55493 ubermenu-item-auto ubermenu-item-normal ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="#">
                                    <span class="ubermenu-target-title ubermenu-target-text">تنظیمات</span>
                                </a>
                            </li>
                        </ul>

                        <ul class="ubermenu-submenu ubermenu-submenu-id-55497 ubermenu-submenu-type-auto ubermenu-submenu-type-stack">
                            <li id="menu-item-55493" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-55493 ubermenu-item-auto ubermenu-item-normal ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="{% url 'about' %}">
                                    <span class="ubermenu-target-title ubermenu-target-text">درباره ما</span>
                                </a>
                            </li>
                        </ul>

                    </li>
                    <li class="ubermenu-retractor ubermenu-retractor-mobile"><i class="fas fa-times"></i> بستن</li>
                </ul>
    {% endfor %}
{% endif %}
            </li>


                    <li id="menu-item-8625" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-8625 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="{% url 'homeadmin' %}" tabindex="0">
                            <span class="ubermenu-target-title ubermenu-target-text">
                                {% if user.is_authenticated %}
                                {{ user.get_full_name }}
                                {% else %}
                                پروفایل
                                {% endif %}
                            </span>
                        </a>
                    </li>

                <li id="menu-item-8651" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-current-menu-item ubermenu-current_page_item ubermenu-item-home ubermenu-item-8651 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto"><a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="{% url 'firstpage' %}" tabindex="0"><span class="ubermenu-target-title ubermenu-target-text">صفحه نخست</span></a></li>

{% if menusite %}
{% for menu in menusite %}
        {% if menu.parent == None %}<li id="menu-item-8625" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-8625 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">

                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="#" tabindex="0">
                    <span class="ubermenu-target-title ubermenu-target-text">{{ menu.title }}</span>
                    <i class="mdi mdi-chevron-down"></i>
                    <span class="ubermenu-sub-indicator-close"><i class="fas fa-times"></i></span>
                </a>

                <ul class="ubermenu-submenu ubermenu-submenu-id-8625 ubermenu-submenu-type-auto ubermenu-submenu-type-mega ubermenu-submenu-drop ubermenu-submenu-align-full_width">
                {% for menu in menu.children.all %}
                    <li id="menu-item-8608"
                        class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-8608 ubermenu-item-auto ubermenu-item-header ubermenu-item-level-1 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-stack">
                        <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="#">
                            <span class="ubermenu-target-title ubermenu-target-text">{{ menu.title }}</span>
                        </a>
                        <ul class="ubermenu-submenu ubermenu-submenu-id-8608 ubermenu-submenu-type-auto ubermenu-submenu-type-stack">
                            {% for menu in menu.children.all %}
                            <li id="menu-item-8650" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-8650 ubermenu-item-auto ubermenu-item-normal ubermenu-item-level-2 ubermenu-column ubermenu-column-auto">
                                <a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="/mysite/filter/{{ menu.id }}/"><span class="ubermenu-target-title ubermenu-target-text">{{ menu.title }}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>

        </li>{% endif %}
{% endfor %}
{% endif %}

                <li id="menu-item-8625" class="ubermenu-item ubermenu-item-type-custom ubermenu-item-object-custom ubermenu-item-has-children ubermenu-item-8625 ubermenu-item-level-0 ubermenu-column ubermenu-column-auto ubermenu-has-submenu-drop ubermenu-has-submenu-mega">
                        {% if user.is_authenticated %}<a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="{% url 'logout' %}" tabindex="0">
                        <span class="ubermenu-target-title ubermenu-target-text">خروج</span></a>
                        {% else %}<a class="ubermenu-target ubermenu-item-layout-default ubermenu-item-layout-text_only" href="{% url 'loginsite' %}" tabindex="0">
                        <span class="ubermenu-target-title ubermenu-target-text">ورود</span></a>{% endif %}
                </li>


            </ul>
        </nav>
    </div>



{% endblock category %}
