
{% extends "first_app/3_center_right.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block center_laft %}
<div id="sidebar-primary">



{#    شروع لیست های ثبت نام یا خرید فروشگاه متمم#}
{% if my %}
{% for my in my %}
    <ul class="widget-container"><li id="black-studio-tinymce-13" class="widget widget_black_studio_tinymce"> <div style="width: 3in"><p></p><p></p>
        {% if user.is_authenticated %}
        <div class="su-button-center"><a href="{% url 'register' %}" class="su-button su-button-style-soft su-button-wide" style="color:#ffffff;background-color:#9c0707;border-color:#7d0606;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px" target="_self"><span style="color:#ffffff;padding:0px 0px;font-size:14px;line-height:32px;border-color:#ba5151;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  ثبت نام جدید در {{ my.name_site }} &nbsp; <br></span></a></div>
        {% else %}
        <div class="su-button-center"><a href="{% url 'register' %}" class="su-button su-button-style-soft su-button-wide" style="color:#ffffff;background-color:#9c0707;border-color:#7d0606;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px" target="_self"><span style="color:#ffffff;padding:0px 0px;font-size:14px;line-height:32px;border-color:#ba5151;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ثبت نام در {{ my.name_site }} &nbsp; <br></span></a></div>
        {% endif %}
        {% if user.is_authenticated %}

        {% else %}
        <div class="su-button-center"><a href="{% url 'loginsite' %}" class="su-button su-button-style-soft su-button-wide" style="color:#ffffff;background-color:#9c0707;border-color:#7d0606;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px" target="_self"><span style="color:#ffffff;padding:0px 0px;font-size:14px;line-height:32px;border-color:#ba5151;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;ورود به {{ my.name_site }} &nbsp; <br></span></a></div>
        {% endif %}
        <div class="su-button-center"><a href="#" class="su-button su-button-style-soft su-button-wide" style="color:#ffffff;background-color:#9c0707;border-color:#7d0606;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px" target="_self"><span style="color:#ffffff;padding:0px 20px;font-size:14px;line-height:32px;border-color:#ba5151;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;text-shadow:px px px #627179;-moz-text-shadow:px px px #627179;-webkit-text-shadow:px px px #627179"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; خرید یا تمدید اشتراک</span></a></div><p></p><p></p>
        <div class="su-button-center"><a href="#" class="su-button su-button-style-soft su-button-wide" style="color:#ffffff;background-color:#9c0707;border-color:#7d0606;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px" target="_self"><span style="color:#ffffff;padding:0px 0px;font-size:14px;line-height:32px;border-color:#ba5151;border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px;text-shadow:none;-moz-text-shadow:none;-webkit-text-shadow:none"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;فروشگاه {{ my.name_site }} &nbsp;&nbsp;<br></span></a></div><p></p></div></li>
    </ul>
{% endfor %}
{% endif %}
{#    پایان لیست های ثبت نام یا خرید فروشگاه متمم#}


{#    شروع جستجــو در متمم#}
{% if my %}
{% for my in my %}
    <ul class="widget-container"><li id="search-2" class="widget widget_search"><h3 class="widgettitle">جستجــو در {{ my.name_site }}</h3> <div id="search">
        <form method="get" id="searchform" action="{% url 'searchlist' %}">
    <div class="cell">
        <input type="text" value="" name="s" id="s" onblur="if (this.value == '') {this.value = '';}" onfocus="if (this.value == '') {this.value = '';}">
    </div>
    <div class="cell" style="cursor:pointer; vertical-align:bottom;"><div class="buttonsearch">
        <button type="submit" style=" margin: 0; padding: 0 ; border : 0; background : transparent; font-family : inherit; font-size : 1em; color:#FFFFFF; text-decoration:none; cursor : pointer;"><a style="color: white;vertical-align:middle; text-align:center;" class="mdi mdi-magnify"></a></button>
    </div></div>
        </form></div></li></ul>
{% endfor %}
{% endif %}
{#    پایان جستجــو در متمم#}



<ul class="widget-container"><li id="black-studio-tinymce-19" class="widget widget_black_studio_tinymce"> <div class="textwidget"></div></li></ul>


{#    شروع لیست مهارت ها#}
        {% if menusite %}
        {% for post in menusite %}
            {% if post.parent != None %}
                {% for post in post.children.all %}
            <ul class="widget-container"><li id="black-studio-tinymce-11" class="widget widget_black_studio_tinymce"> <div class="textwidget">

                <div class="su-button-center"><a href="/mysite/filter/{{ post.id }}/" class="su-button su-button-style-default su-button-wide" style="color:#9c0707;background-color:#eeeeee;border-color:#bebebe;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px" target="_self"><span style="color:#9c0707;padding:0px 16px;font-size:13px;line-height:26px;border-color:#f3f3f3;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-shadow:0px 0px 0px ;-moz-text-shadow:0px 0px 0px ;-webkit-text-shadow:0px 0px 0px">{{ post.title }}</span></a></div>

            </div></li></ul>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% endif %}
{#    پایان لیست مهارت ها#}



{#    شروع لیست دیدگاه ها#}
{% if comment %}

<ul class="widget-container">
    <li id="recent-comments-9" class="widget widget_recent_comments">
        <h3 class="widgettitle">آخرین دیدگاه‌ها</h3>
            {% for x in comment %}
        <ul id="recentcomments">
            <li class="recentcomments"><span class="comment-author-link"><a href="#" rel="external" class="url">{{ x.user.get_full_name }} در {{ x.content_object }}</a></span> »  <a href="#">{{ x.content|truncatechars:25 }}</a></li>
        </ul>
            {% endfor %}
    </li>
</ul>

{% endif %}
{#    پایان لیست دیدگاه ها#}




</div>
{% endblock center_laft %}
