{% extends "admin_lte/base.html" %}

{% block title %}
    {% if user.is_author %}
    لیست مقالات

    {% else %}
        <p style="color: red">هشدار :</p>
    {% endif %}

{% endblock %}


{% block main %}
    {% if user.is_author %}
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- /.card-header -->
          {% if object_list %}
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                    {% if user.is_superuser %}
                      <th>ردیف</th>
                      <th>شناسه کاربری</th>
                      <th>نویسنده</th>
                    {% endif %}
                      <th>نام مقاله</th>
                      <th>دسته بندی</th>
                      <th>تصویر مقاله</th>
                      <th>کاربران عمومی</th>
                      <th>وضعیت مقاله در سایت</th>
                      <th>ویرایش</th>
                      <th>حذف</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in object_list %}
                        <tr>
                        {% if user.is_superuser %}
                          <td>{{ x.id }}</td>
                          <td>{{ x.author }}</td>
                          <td>{{ x.author.get_full_name }}</td>
                        {% endif %}
                          <td>{{ x.title|truncatechars:15 }}</td>
                          <td>{{ x.parent }}</td>
                          <td><img src="{{ x.image.url }}" width="100" height="50"></td>
                          <td>
                              {% if x.status == True %}
                                <a>بله</a>
                              {% else %}
                                <a>خیر</a>
                              {% endif %}
                          </td>
                          <td>
                        {% if x.preview == True %}
                          <a href="{% url 'description' x.pk %}"><span class="badge badge-danger" style="font-size: 13px">پیش نویس</span></a>
                        {% else %}
                          <a href="{% url 'description' x.pk %}"><span class="badge badge-success" style="font-size: 13px">منتشر شده</span></a>
                        {% endif %}
                          </td>
                          <td>
                              <a href="{% url 'postupdate' x.pk %}"><span class="badge badge-success" style="font-size: 13px">ویرایش</span></a>
                          </td>
                          <td>
                              {% if user.is_superuser %}
                              <a href="{% url 'postdelete' x.pk %}"><span class="badge badge-danger" style="font-size: 13px">حذف</span></a>
                              {% else %}
                                  <a href="{% url 'supportcreate' %}"><span class="badge badge-danger" style="font-size: 13px">برای حذف با پشتیبانی تماس بگیرید.</span></a>
{#                                  <span class="badge badge-danger" style="font-size: 13px">برای حذف با پشتیبانی تماس بگیرید.</span>#}
                              {% endif %}
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          {% else %}
               <h4 class="text-danger">هنوز محتوایی برای نمایش اضافه نکرده اید.</h4>
          {% endif %}
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
    {% else %}
        <b class="badge badge-danger" style="font-size: 20px">شما یک کاربر عمومی در سایت من هستید و برای نویسنده شدن در سایت من باید هزینه آن را پرداخت نمائید.</b>
    {% endif %}
{% endblock %}