
{% extends "admin_lte/base.html" %}


{% block title %}
    حذف مقاله
{% endblock %}


{% block main %}
    <div class="col-md-8 text-center mx-auto">
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title-left">حذف مقاله</h3>
              </div>
                <p style="height: 10px"></p>
                <form method="post">{% csrf_token %}
                    <p class="py-2">آیا از حذف مقاله «{{ object }}» از کاربر «{{ object.author.get_full_name }}» مطمئن هستید ؟  </p>
                    <span><input type="submit" value="حذف" class="btn btn-danger"></span>
                    <span><a href="{% url 'postlist' %}" class="btn btn-danger">منصرف شدم</a></span>
                </form>
                <p style="height: 10px"></p>
            </div>
    </div>
{% endblock %}