{% extends "admin_lte/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    ایجاد اسلایدر
{% endblock %}


{% block main %}
    <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title-left">ایجاد اسلایدر</h3>
              </div>
                <p style="height: 10px"></p>
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-row">
    {% if user.is_superuser %}
          <div class="form-group col-md-2 mb-0">
            {{ form.author|as_crispy_field }}
          </div>
    {% endif %}
          <div class="form-group col-md-2 mb-0">
            {{ form.title|as_crispy_field }}
          </div>
          <div class="form-group col-md-12 mb-0">
            {{ form.image|as_crispy_field }}
          </div>
        </div>
        <button class="btn btn-success">ارسال اسلایدر</button>
        {% if user.is_superuser and request.resolver_match.kwargs.pk %}
        <a href="{% url 'sliderdelete' request.resolver_match.kwargs.pk %}" class="btn btn-danger">حذف</a>
        {% endif %}
    </form>
         <p style="height: 10px"></p>
            </div></div>
{% endblock %}